. filter=lfs diff=lfs merge=lfs -text
ema_0.9999_010000.pt filter=lfs diff=lfs merge=lfs -text
ema_0.9999_020000.pt filter=lfs diff=lfs merge=lfs -text
model010000.pt filter=lfs diff=lfs merge=lfs -text
model040000.pt filter=lfs diff=lfs merge=lfs -text
opt000000.pt filter=lfs diff=lfs merge=lfs -text
opt010000.pt filter=lfs diff=lfs merge=lfs -text
progress.csv filter=lfs diff=lfs merge=lfs -text
ema_0.9999_000000.pt filter=lfs diff=lfs merge=lfs -text
log.txt filter=lfs diff=lfs merge=lfs -text
opt030000.pt filter=lfs diff=lfs merge=lfs -text
opt040000.pt filter=lfs diff=lfs merge=lfs -text
ema_0.9999_030000.pt filter=lfs diff=lfs merge=lfs -text
model000000.pt filter=lfs diff=lfs merge=lfs -text
model020000.pt filter=lfs diff=lfs merge=lfs -text
opt020000.pt filter=lfs diff=lfs merge=lfs -text
ema_0.9999_040000.pt filter=lfs diff=lfs merge=lfs -text
model030000.pt filter=lfs diff=lfs merge=lfs -text
